// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add new institutes by using different functions 
extends layout
  
block content
  
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Edit an institute!
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        On this page it is possible to edit institutes!
  .container-fluid
    .row
      .col-lg-6
        h4 Search for an institute with its name and changes its data!
        .ui-widget
          input#searchinstitute.form-control(type='text', placeholder='Search...')
      .col-lg-6
    .row
      .col-lg-6
        p.
          Change name or image of the institute:
        form
          input#outputid.form-control(type='text', name='outputid', readonly, placeholder='id')
          br  
          input#outputname.form-control(type='text', name='name', placeholder='name')
          br  
          input#outputimg.form-control(type='url', name='img', placeholder='image/url')
        br
        button.btn.btn-outline-success.btn-sm(type='submit') Update dataset!
        | &nbsp;
        | &nbsp;
        button.btn.btn-outline-danger.btn-sm(type='submit') Delete dataset!
      .col-lg-6
        div
          p.
            Edit the geometry with the edit button in the map!
          // map space
          #map.map2
          
  script(src='/javascripts/institute.js')
