// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add new institutes by using different functions 
extends layout
  
block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Canteens
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        On this page it is possible to add new institutes to the map and save them in a Database!
  .container-fluid
    .row
      .col-lg-8
        div
          #routmap
      .col-lg-4
        .ui-widget
          input#institute
          
  script(src='/javascripts/facilities.js')
  



 
