// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add institutes to the map, get their faculty and look for meals with the canteen markers
extends layout

block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Facilities!
      p.
        Here you can retrieve your saved data from the database!
        In addition, all canteens and bistros in Münster are shown with their current daily specials on the map!
  .container-fluid
    .row
      .col-lg-5
        div
          h4 Select an institute with the search bar (per name) to add it to the map and 
              to get the information about the faculty to which it belongs:
          br
          // jquery autocomplete search bar to search for an institute with name
          .ui-widget
            input#institute.form-control(type='text', placeholder='Search...')
          br
          // div for information of the faculty
          div
            #faculty
      .col-lg-7
        h4 Click on the canteens and institutes markers in the map!
        br
        // mapspace
        div
          #map.map3
  // connection to script
  script(src='/javascripts/facilities.js')
