// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add new institutes by using different functions 
// see: https://github.com/mschwarzmueller/nodejs-basics-tutorial 
extends layout
  
block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Add or edit faculties!
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        Every institute belongs to a subject area. These can be created and changed on this page!
  .container-fluid
    .row
      .col-lg-3.insert 
          h4 Insert Data
          form(action='/insert', method='post')
            .input
              label(for='name') Name:
              br
              input#name.form-control(type='text', name='name')
            br
            .input
              label(for='shortcut') Shortcut:
              br
              input#shortcut.form-control(type='text', name='shortcut')
            br
            .input
              label(for='website') Website:
              br
              input#website.form-control(type='url', name='website')
            br
            .input
              label(for='institutes') Institutes:
              br
              input#institutes.form-control(type='text', name='institutes')
            br
            button.btn.btn-outline-success.btn-sm(type='submit') Save in the database!
      .col-lg-3.update
        h4 Push the "Load Data" button and click on one of the faculties to change its data!
        form(action='/update', method='post')
          .input
            label(for='id') ID:
            br
            input#idup.form-control(type='text', name='id', readonly)
          br  
          .input
            label(for='name') Name:
            br
            input#nameup.form-control(type='text', name='name')
          br  
          .input
            label(for='shortcut') Shortcut:
            br
            input#shortcutup.form-control(type='text', name='shortcut')
          br  
          .input
            label(for='website') Website:
            br
            input#websiteup.form-control(type='url', name='website')
          br  
          .input
            label(for='institutes') Institutes:
            br
            input#institutesup.form-control(type='text', name='institutes')
            br
          button.btn.btn-outline-success.btn-sm(type='submit') Update dataset!
        form(action='/delete', method='post')
          .input
            label(for='id') 
            input#iddelete.form-control(type='hidden', name='id', readonly)
          button.btn.btn-outline-danger.btn-sm(type='submit') Delete dataset!
      .col-lg-3.get
        h4 Currently stored data:
        div
          #demo
          br
        button.btn.btn-outline-success.btn-sm(onclick='loadFaculties()') Load Data!
    script(src='/javascripts/functions.js')
    script(src='/javascripts/map.js')
