// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add faculties to the database or edit them  
// see: https://github.com/mschwarzmueller/nodejs-basics-tutorial 
extends layout
  
block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Faculties
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        Add a new faculty or edit an existing one!
  .container-fluid
    .row
      .col-lg-6
          h4 Insert a new faculty!
          br
          form
            input#name.form-control(type='text', name='name', placeholder='name')
            br
            input#shortcut.form-control(type='text', name='shortcut', placeholder='shortcut')
            br
            input#website.form-control(type='url', name='website', placeholder='website/url')
            br
            input#institutes.form-control(type='text', name='institutes', placeholder='institutes')
          br
          button.btn.btn-outline-success.btn-sm(onclick='saveFaculty()') Save in the database!
      .col-lg-6
        h4 Search for a faculty with name or shortcut an changes its data!
        br
        .ui-widget
          input#searchfaculty.form-control(type='text', placeholder='Search...')
        br
        br
        form
          input#idup.form-control(type='text', name='id', readonly, placeholder='id')
          br
          input#nameup.form-control(type='text', name='name', placeholder='name')
          br
          input#shortcutup.form-control(type='text', name='shortcut', placeholder='shortcut')
          br
          input#websiteup.form-control(type='url', name='website', placeholder='website/url')
          br
          input#institutesup.form-control(type='text', name='institutes', placeholder='institutes')
        br
        button.btn.btn-outline-info.btn-sm(type='submit') Update dataset!
        form(action='/delete', method='post')
          .input
            label(for='id') 
            input#iddelete.form-control(type='hidden', name='id', readonly)
          button.btn.btn-outline-danger.btn-sm(type='submit') Delete dataset!
    // connection to script
    script(src='/javascripts/faculty.js')
