// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// legal notice of the website
extends layout

block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Legal notice
  // bootstrap container with columns (grid)
  .container-fluid
    #imprint.col-lg-12
      | Anika Graupner
      br
      | Student Geoinformatics WWU
      br
      | Heisenbergstra&szlig;e 2
      br
      | 48149 M&uuml;nster
      br
      br
      h4 Represented by
      | Anika Graupner
      br
      br
      h4 Contact Information
      | E-Mail:
      a(href='mailto:a_grau05@wwu.de') a_grau05@wwu.de
      br
      br
      h4 Graphics and Image Sources
      | Logo earth: https://www.mdr.de/wissen/verschwoerungstheoriene-im-trend-erde-eine-scheibe-100.html
      br
      | Canteen marker icon: https://www.iconfinder.com/icons/2675146/cafe_canteen_eatery_food_pub_restaurant_tavern_icon
      br
      | Institute marker icon: https://pixabay.com/de/bildung-hochschule-institution-295185/
      br
      | Palace picture: http://www.weidemann.ws/foto/345/F%C3%BCrstbisch%C3%B6fliches-Schloss-M%C3%BCnster
      br
      br
      h4 Disclaimer
      | Accountability for content
      br
      | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents&apos;
      | accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for
      | our own content on these web pages. In this matter, please note that we are not obliged to monitor
      | the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
      | Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per
      | 8 to 10 of the Telemedia Act (TMG).
      br
      br
      | Accountability for links
      br
      | Responsibility for the content of
      | external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were
      | evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective
      | link immediately.
      br
      br
      | Copyright
      br
      | Our web pages and their contents are subject to German copyright law. Unless
      | expressly permitted by law, every form of utilizing, reproducing or processing
      | works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights.
      | Individual reproductions of a work are only allowed for private use.
      | The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.
