// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// legal notice of the website
extends layout

block content 
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Legal notice
  // bootstrap container with columns (grid)
  .container-fluid
    #imprint.col-lg-12
      | Westf&auml;lische Wilhelms-Universit&auml;t M&uuml;nster
      br
      | Institute for Geoinformatics
      br
      | Heisenbergstra&szlig;e 2
      br
      | 48149 M&uuml;nster
      br
      br
      | &#x9;&#x9;&#x9;
      h5 Represented by
      | &#x9;&#x9;&#x9;Anika Graupner
      br
      br
      | &#x9;&#x9;&#x9;
      h5 Contact Information
      | &#x9;&#x9;&#x9;Telephone: +49 251 83 33 08 3
      br
      | Fax: +49 251 83 39 76 3
      br
      | E-Mail: 
      a(href='mailto:verwaltung@wwu.de') geoinformatik@uni-muenster.de
      br
      | Internet address: 
      a(href='https://www.uni-muenster.de/Geoinformatics/', target='_blank') https://www.uni-muenster.de/Geoinformatics/
      br
      br
      | &#x9;&#x9;&#x9;
      h5 Graphics and Image Sources
      | &#x9;&#x9;&#x9;https://www.designtagebuch.de/aus-westfaelische-wilhelms-universitaet-muenster-wird-wwu/
      br
      br
      | &#x9;&#x9;&#x9;
      h5 Disclaimer
      | &#x9;&#x9;&#x9;Accountability for content
      br
      | &#x9;&#x9;&#x9;The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents&apos;
      | &#x9;&#x9;&#x9;accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for 
      | &#x9;&#x9;&#x9;our own content on these web pages. In this matter, please note that we are not obliged to monitor 
      | &#x9;&#x9;&#x9;the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. 
      | &#x9;&#x9;&#x9;Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per 
      | &#x9;&#x9;&#x9;&sect;&sect; 8 to 10 of the Telemedia Act (TMG).
      | &#x9;&#x9;&#x9;
      br
      br
      | Accountability for links
      br
      | &#x9;&#x9;&#x9;Responsibility for the content of 
      | &#x9;&#x9;&#x9;external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were 
      | &#x9;&#x9;&#x9;evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective 
      | &#x9;&#x9;&#x9;link immediately.
      br
      br
      | Copyright
      br
      |  Our web pages and their contents are subject to German copyright law. Unless
      | &#x9;&#x9;&#x9;expressly permitted by law, every form of utilizing, reproducing or processing
      | &#x9;&#x9;&#x9;works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights.
      | &#x9;&#x9;&#x9;Individual reproductions of a work are only allowed for private use.
      | &#x9;&#x9;&#x9;The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.
