// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// startpage of the website
extends layout

block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Home
      p
        | Welcome to the smart navigator of the WWU! True to the motto by students for students this website
        | was created specifically for new geoinformatic students of the WWU!
  // bootstrap container with columns (grid)
  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        h3 Enjoy!
        br
        p
          | This page offers you several ways to find your way around your new environment.
          | Your personal interests and concerns will be taken into account to create the best individual maps for you.
          br
          br
          | At the same time, you can already extend your own knowledge of data formats, web services and online mapping.
          | This website is an example of what awaits you in the study of Geoinformatics. We hope it awakens your curiosity about the upcoming
          | content and the interest in developing your own similar applications in the near future.
          br
          br
          | Have fun discovering the different functionalities.
        br
        br
        img.img-responsive(src='/images/schloss.jpg' alt='palace' width='80%')
        br
        br
        p
          | Add and edit data under Datamanagement
          | .
          br
          br
          | You can save data of
          b
            a#home(href='add_institute')  institutes
          | ,
          b
            a#home(href='faculty')  faculties
          |  and
          b
            a#home(href='routing')  routes
          | .
          br
          br
          | Hungry? At
          b
            a#home(href='facilities')  facilities
          |   look for food offer of every canteen or bistro in Münster.
          br
          br
          | It is also possible to create routes under
          b
            a#home(href='routing')  routing
          | , for example to the nearest canteen of your institute.
      .col-lg-2.center
