// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// startpage of the website
extends layout

block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Home
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p
        | Welcome to the smart navigator of the WWU! True to the motto &quot;by students for students&quot; this website
        | was created specifically for new students of the WWU!
  // bootstrap container with columns (grid)
  .container-fluid
    .col-lg-12
      p(style='font-size: 15px;')
        span(style='font-size:20px; font-weight: bold;')  Welcome!
        br
        br
      p
