// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add new institutes by using different functions 
extends layout
  
block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Add an institute!
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        On this page it is possible to add new institutes to the map and save them in a Database!
  .container-fluid
    .row
      .col-lg-6
        div
          h4.
            Draw the contours of an institute in the map and add more informations in the textfields!
          |  
          | &#x9;&#x9;&#x9;&#x9;
          p.
            Enter a name and a URL of a picture for the institute in the textfields!
          label(for='text')
          form(action='textarea.html', method='post')
            | Name:
            br
            br
            input#input.form-control(type='text', name='name', value='')
            br
            | Image URL:
            br
            br
            input#input.form-control(type='url', name='img', value='')
        div 
          // creating the map space
          #map
          // invoking the file with the map data
          button.btn.btn-outline-success.btn-sm(type='submit') Save in Database!
      .col-lg-6
        div
          h4.
            Load an institute from a textfield!
          |  
          | &#x9;&#x9;&#x9;&#x9;
          p.
            Write down a geoJSON conform text in the textfield!
          |  
          | &#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          label(for='text')
          form(action='/insertText', method='post')
            div
              label(for='text')
                textarea#text.form-control(name='text', cols='50', rows='4')
              br
              button.btn.btn-outline-danger.btn-sm(type='button', onclick='testText()') Check for mistakes!
              br
              br
              button#btn1.btn.btn-outline-success.btn-sm(type='submit', disabled) Save in Database!
              br
              br
        div
          h4.
            Load an institute from URL!
          |  
          | &#x9;&#x9;&#x9;&#x9;
          p.
            Paste the appropriate URL in the field:
          |  
          | &#x9;&#x9;&#x9;&#x9;
          form(action='/insertURL', method='post')
            label(for='url')
              input#inputURL.form-control(name='inputurl', type='url', size='100%')
              br
              button.btn.btn-outline-danger.btn-sm(type='button', onclick='testURL()') Check for mistakes!
              br
              br
              button#btn2.btn.btn-outline-success.btn-sm(type='submit', disabled) Save in Database!
              br
        div
          #inputurl
    script(src='/javascripts/map.js')
