// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// layout
// marking the language
doctype html
html(lang='en')
  head
    // charset attribute, specifies the character encoding for the HTML document
    meta(charset='utf-8')
    // viewport = users visible area of a web page
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    // title of the webpage
    title= title
    // bootstrap stylesheet link (before all other links)
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    // jsnlog
    script(src='/javascripts/jsnlog.min.js')
    // mapbox
    script(src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js')
    link(href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet')
    // leaflet, leaflet roting machine
    link(rel='stylesheet' href='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css')
    script(src='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js')
    // Geocoder
    link(rel='stylesheet' href='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css')
    script(src='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js')
    // Leaflet knn
    script(src='javascripts/leaflet-knn.min.js')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // jQuery
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/jquery-ui.min.js')
    link(href='/stylesheets/jquery-ui.min.css', rel='stylesheet')
    // jQuery easyAutocomplete
    script(src='/javascripts/jquery.easy-autocomplete.min.js')
    link(href='/stylesheets/easy-autocomplete.min.css', rel='stylesheet')
    link(href='/stylesheets/easy-autocomplete.themes.min.css', rel='stylesheet')
    // link to tylesheet
    link(href='/stylesheets/style.css', rel='stylesheet')
    // leaflet draw
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js')
  | &#x9;
  body
    // navbar
    // see: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      // Brand
      a.navbar-brand
        img(src='/images/Logo_WWU_Münster.svg.png', alt='Logo WWU', style='width:90px;')
      // Links
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        // Dropdown
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Data Management!
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .dropdown-menu
            a.a.dropdown-item(href='faculty') Add/edit a faculty!
            a.dropdown-item(href='add_institute') Add an institute!
            a.dropdown-item(href='edit_institute') Edit an institute!
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Data Visualization!
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .dropdown-menu
            a.a.dropdown-item(href='facilities') Facilities!
            a.a.dropdown-item(href='routing') Routing!
    block content
    // footer
    // see: https://bootsnipp.com/snippets/2eMK5
    footer.section.footer-classic.context-dark.bg-image.bg-dark(style='background: #2d3246;')
      .container
        .row.row-30
          .col-md-4.col-xl-5
            .pr-xl-4
              p
                | This website was created and designed by Anika Graupner,
                br
                | student at the Institute of Geoinformatics.
              // Rights
              p.rights
                span &copy;&nbsp;
                span.copyright-year 2018
                span &nbsp;
                span WWU - Institute for Geoinformatics - Anika Graupner
                span .&nbsp;
                span All Rights Reserved.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .col-md-4
            h6 Contacts
            dl.contact-list
              dd Heisenbergstra&szlig;e 2, 41849 M&uuml;nster
            dl.contact-list
              dd
                a#link-footer(href='mailto:#') geoinformatik@uni-muenster.de
            dl.contact-list
              dd
                a#link-footer(href='tel:#') +49 251 - 83 33 08 3
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .col-md-4.col-xl-3
            h6 Links
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.list
              li
                a#link-footer(href='imprint') Legal notice
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a#link-footer(href='https://www.uni-muenster.de/de/') WWU
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a#link-footer(href='https://www.uni-muenster.de/Geoinformatics/') ifgi
    // jQuery first, then Popper.js, then Bootstrap JS (must be near the end of the body)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    | &#x9;&#x9;
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
