ul
  each docs, i in institute
    li
      a(onclick="JSON2Map(docs)")= "- " + docs._id + "     " + docs.geojson
      br
      br

      script(src='/javascripts/functions.js')
      script(src='/javascripts/map.js')
