ul
  each docs, i in faculty
    li= "-" + " " + "Name: " + docs.name + ", " + "Shortcut: " + docs.shortcut + ", " + "Website: " + docs.website + ", " + "Institutes: " + docs.institutes + ", " + "ID: " + docs._id
