p.
| [
br 
| {"name": "Afghanistan", "code": "AF"}, 
br
| {"name": "Aland Islands", "code": "AX"}, 
br
| {"name": "Albania", "code": "AL"}, 
br
| {"name": "Algeria", "code": "DZ"}, 
br
|{"name": "American Samoa", "code": "AS"}
br
| ]
      
