// author: Anika Graupner (437401)
// final task geosoftware I, summer 2018
// add new institutes by using different functions 
// see: https://www.youtube.com/watch?v=ZKwrOXl5TDI, 
extends layout
  
block content
  // jumbotron
  .jumbotron.jumbotron-fluid
    .container
      h1 Add the subject areas!
      |  
      | &#x9;&#x9;&#x9;&#x9;
      p.
        Every institute belongs to a subject area. These can be created and changed on this page!
  .container-fluid
    .row
      .col-lg-3.insert 
          h4 Insert Data
          form(action='/insert', method='post')
            .input
              label(for='name') Name:
              br
              input#name(type='text', name='name')
            br
            .input
              label(for='shortcut') Shortcut:
              br
              input#shortcut(type='text', name='shortcut')
            br
            .input
              label(for='website') Website:
              br
              input#website(type='url', name='website')
            br
            .input
              label(for='institutes') Institutes:
              br
              input#institutes(type='text', name='institutes')
            br
            button.btn.btn-outline-success.btn-sm(type='submit') Save in the database!
      .col-lg-3.get
        h4 Get the saved data from the database!
        a(href='/get-data') LOAD DATA
        div
      .col-lg-3.update
        h4 Update/Change the data of a subject area!
        form(action='/update', method='post')
          .input
            label(for='id') ID:
            br
            input#id(type='text', name='id')
          br  
          .input
            label(for='name') Name:
            br
            input#name(type='text', name='name')
          br  
          .input
            label(for='shortcut') Shortcut
            br
            input#shortcut(type='text', name='shortcut')
          br  
          .input
            label(for='website') Website
            br
            input#website(type='url', name='website')
          br  
          .input
            label(for='institutes') Institutes
            br
            input#institutes(type='text', name='institutes')
          br  
          button.btn.btn-outline-success.btn-sm(type='submit') Update data!
      .col-lg-3.delete
        h4 Delete data of a subject area!
        form(action='/delete', method='post')
          .input
            label(for='id') ID
            input#id(type='text', name='id')
          br  
          button.btn.btn-outline-success.btn-sm(type='submit') Delete data!
          
